.image-swiper {
    width: 100%;
    height: 375px;
    background: #f7f7f7;

    .adm-swiper-item {
        width: 100%;
        height: 375px;

        img {
            width: 100%;
            height: 375px;
        }
    }
}